.block {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'T T'
    'L R';

  padding: 10px;
  background: darkseagreen;
  margin: 5px 3px;
  border-radius: 5px;
}

.title {
  grid-area: T;
  margin: 0;
}

.left {
  grid-area: L;
}

.right {
  grid-area: R;
}

.tagsHeading {
  margin: 10px 0;
}