.block {
  display: flex;
  border-radius: 3px;
  background-color: gray;
  padding: 5px;
  align-items: center;
}

.content {
  margin-right: 4px;
  cursor: default;
}

.close {
  font-size: 0.9em;
  transition: opacity .3s;
  cursor: pointer;
}

.close:hover {
  opacity: .5;
}

.close:after {
  content: '✕';
}